.welcome-wrapper {
    width: 100%;
    display: flex;
    position: relative;
    height: 100%;
    justify-content: flex-end;
  }

.welcome-img {
    width: 95%;
    right: 0;
    height: auto;
}

.welcome-cover {
    background: rgba(24, 7, 2, 0.77);
    position: absolute;
    top: 0;
    right: 0;
    width: 95%;
    height: 100%;
    z-index: 1;
}

.welcome-text {
    position: absolute;
    color: #FFF;
    font-family: 'Inria Serif', serif;
    font-style: italic;
    font-weight: 700px;
    font-size: 80px;
    line-height: initial;
    left: 15%;
    top: 30%;
    text-align: left;
    z-index: 2;
  }
