.welcome-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    margin-bottom: 400px; /*bug here*/
  }

.welcome-img {
    width: 97%;
    right: 0;
    height: auto;
    margin-left: auto;
    z-index: 0;
}

.welcome-cover {
    background: rgba(24, 7, 2, 0.77);
    position: absolute;
    top: 0;
    right: 0;
    width: 97%;
    height: 100%;
    z-index: 1;
}

.welcome-text { /*bug here*/
    position: absolute;
    color: #FFF;
    font-family: 'Inria Serif', serif;
    font-style: italic;
    font-weight: 700px;
    font-size: 4vw;
    line-height: initial;
    left: 15%;
    top: 30%;
    text-align: left;
    z-index: 2;
}

.about1 {
    position: absolute;
    width: 97%;
    height: calc(100% * 0.7); 
    max-width: 97%;
    opacity: 0.6;
    background: #C49F74;
    top: 77%;
    z-index: 3;
}

.statement-text {
    position: absolute;
    color: #FFF;
    font-family: 'Inria Serif', serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    left: 10%;
    top: 25%;
    line-height: 1.5;
    text-align: left;
    z-index: 5;
}

.about2 {
    position: absolute;
    left: 3%;
    width: 94%;
    height: calc(100% * .23);
    opacity: 0.6;
    background: #3F1C13;
    bottom: 0%;
    z-index: 4;
    display: flex;
}
