.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    font-family: 'Inria Serif', serif;
    font-size: 40px;
    font-weight: 700;
}

.copyright {
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 700;
}