.nav-wrapper {
    width: 100%;
    height: 110px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-text {
    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 550;
}

.nav-options {
    display: flex;
    align-items: center;
}

.nav-button {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-weight: 50px;
    text-align: center;
    border: none;
    background-color: transparent;
    margin-right: 80px;
}
